<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
</head>
<style>
.content {
  max-width: 500px;
  margin: auto;
}
</style>
<body>
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <b>Hello, {{ user.username }}!</b>
            <br>
            <button type="button" onclick="location.href='{% url 'home' %}'">Home</button>
            <button type="button" onclick="location.href='{% url 'profile' %}'">Profile</button>
            <button type="button" onclick="location.href='{% url 'mails' %}'">Mails</button>
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <button type="button" onclick="location.href='{% url 'login' %}'">Login</button>
        <button type="button" onclick="location.href='{% url 'signup' %}'">Register</button>
    {% endif %}
    <hr>
    <br>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="content">
  <!-- Page content -->
    {% block body %}{% endblock body %}
</div>

</body>
</html>