{% extends 'base.html' %}

{% block title %}{{ request.user.username }}{% endblock title %}
{% block body %}
    <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
{#        <input type="text" name="post_content" style="height: 100px">#}
        <textarea name="post_content"></textarea>
        <button type="submit">Post it!</button>
    </form>
    <br><br>
    <hr>
    {% for post in posts %}
        Posted by <b>{{ post.user.username }}</b> at <b>{{ post.time_added }}</b>
        <br>
        Last modified at <b>{{ post.time_modified }}</b>
        <p>"{{ post.body|safe }}"</p>
        <hr>
    {% endfor %}
{% endblock body %}